
<section class="header">
  <header>
    <h1>SKILLS</h1>
  </header>
</section>

<section>
  <mat-tab-group>
    <mat-tab label="HTML5"> 
      <div class="text-box">
        HTML like the majority of people starting off on their coding journey was the first language I learned. I would
        say I am at a fairly advanced level of HTML and am only getting better with time. Even though I have gone on to 
        learn more complex languages I still go back regularly to brush up on the existing things I know as well as learn
        new things I didn't know before to continue taking my skillset to the next level. 
      </div>
    </mat-tab>
    <mat-tab label="CSS3">
      <div class="text-box">
        At the same time that I began learning HTML I also started on CSS. I have grown a lot in CSS especially with
        building this project. And like with HTML I continue to go back, refresh what I know, and learn new skills. I am
        very well-versed in page layout, position of elements, incorporating photography in projects. 
      </div>
    </mat-tab>
    <mat-tab label="Javscript">
      <div class="text-box">
        Vanilla Javascript I have recently gone back to more to refresh my memory after getting overly-comfortable with 
        jQuery. I have put in a lot of work into understanding the various forms of loops, javascript events, and even 
        using javascript to style elements. 
      </div>
    </mat-tab>
    <mat-tab label="jQuery">
      <div class="text-box">
        jQuery was the first javascript library that I used on my project. I have learned how to select elements with it,
        how to style elements, as well as how to perform various events with it.
      </div>
    </mat-tab>
    <mat-tab label="Bootstrap">
      <div class="text-box">
        Bootstrap was the first really in depth topic that I learned which I can remember challenging me a lot. It forced
        me to learn how to use the internet to solve problems that I couldn't solve on my own or solve by reading the 
        troubleshooting articles that you find on many different frameworks. I learned how to use forums, videos, and more
        to push past issues I was having. The very first page of the project is built using the bootstrap framework. 
      </div>
    </mat-tab>
    <mat-tab label="React">
      <div class="text-box">
        The 'Goals' page was built with React. I am able to run React using the command line as well as generate new
        components. While building this project I also learned how to use npm to download components into my project.
        React is a skill that I hope to grow very much in.  
      </div>
    </mat-tab>
    <mat-tab label="Angular">
      <div class="text-box">
        In Anuglar I have an excellent foundational knowledge. I am able to run commands via the command line in order to
        display the project in the web browser, generate new components, and change between directories. I also know how
        to display multiple components within the browser. This page you are reading was created with Angular along with
        the Angular Material framework. 
      </div>
    </mat-tab>
    <mat-tab label="Responsive Design">
      <div class="text-box">
        The ability to publish websites and apps across different sized devices is something that is a necessity in 
        today's environment. It's vital that you can format pages to fit mobile, tablets, laptops, and all the other
        various screen sizes that are at our disposal. Because of this I have learned how to do that, so one page can fit
        all of these different screen sizes while still looking neat and organized.  
      </div>
    </mat-tab>
    <mat-tab label="Git">
      <div class="text-box">
        With the increasing amount of people working in teams and also working remotely I understand how vital it is to 
        be able to communicate and share material. Because of this I have studied how to effectively share material via 
        Git. In studying I have learned various skills such as staging, committing, creating branches, merging branches,
        and pushing/pulling files from remote repositories. 
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

